<!-- <div class="container pt-3">

    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />

    <table class="table" *ngIf="records.length > 0">
        <thead>
            <tr>
                <th>Cuenta </th>
                <th>Cuenta Final </th>
                <th>Moneda </th>
                <th>Descripcion </th>
                <th>Deposito </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records;let i = index;">
                <td> <span>{{record.cuenta}}</span> </td>
                <td> <span>{{record.cuentaFinal}}</span> </td>
                <td> <span>{{record.moneda | myCurrency}}</span> </td>
                <td> <span>{{record.descripcion}}</span> </td>
                <td> <span>{{record.deposito }}</span> </td>
            </tr>
        </tbody>
    </table>
</div> -->
<router-outlet></router-outlet>