.nav-tabs>li.active>a {
    color: #3c5a78;
    font-size: 16px;
}

.nav-tabs>li>a {
    color: black;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.back-card {
    background-color: cornflowerblue;
    border-radius: 1.25rem;
    height: 200px;
}

.front-div {
    width: 100%;
    position: relative;
    top: 20px;
    border-radius: 1.25rem;
}

.my-button {
    border-radius: 50px;
    background-color: white;
    color: cornflowerblue;
    width: 100px;
}

.rounded-button {
    border-radius: 100px;
}